/**************************
****** HEADER STYLE *******
***************************/
#main-menu {
    background-color: rgb(40 54 24 / 95%);
}


/**************************
****** MAIN STYLE *********
***************************/
.main-header{
    background-color: var(--primary-color);
    padding: var(--medium-size);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
}

.main-header h1 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.main-header img {
    width: 250px;
    height: auto;
    margin: 0 auto;
    animation: float 4s ease-in-out infinite;
}

/*====== container map style =======*/

.container-map {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: var(--small-size);
}

#map {
   display: none;
}

#land-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.land-card{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(40 54 24 / 10%);
    border-radius: 0.7rem;
    box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.3);
}

.land-card h2 {
    font-size: 20px;
}

.land-card img{
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.land-card-content{
    padding: 0px var(--medium-size);
}

.land-card-content .price {
    text-align: end;
    font-size: 12px;
    font-weight: 700;
}

.land-card-content .owner{
    text-transform: capitalize;
    padding: var(--small-size) 0px;
    font-style: italic;
}